In [ ]:
import pickle
import os
from nltk import everygrams
import pandas as pd
import numpy as np
from isitkbs import is_kbs

In [323]:
def replace_kbs(
    dataframe,
    value,
    inplace=False):
    """ 
    Parâmetros:
    dataframe: dataframe pandas do qual os keyboard smashing vão ser substituidos.
    value: string que vai substituir os keyboard smashings, caso seja uma string vazia as linhas que apresentarem kbs serão removidas do dataframe
    inplace: se as substituições serão feitas no próprio dataframe dos parâmetros (True) ou será retornada uma cópia do df (False)
    """
    if inplace == False:
        df = dataframe.copy()
    else:
        df = dataframe.copy(deep=False)
    if value == "":
        value = "itiskbs"
    columns = df.columns.values.tolist()
    for i in range(len(columns)):
        for row in df.index:
                if is_kbs(df.iat[row, i], 'word', 'randomForest'):
                    df.iat[row, i] = value
    for i in range(len(columns)):
        df = df[df.iloc[:, i] != 'itiskbs']    
    df.reset_index(drop=True, inplace=True)
    if inplace == False:
        return df

In [335]:
#Criação de um df para testes da função 

palavras = {"data":["Douglas", "test", "oixcjoa", "thought", "interesting", "kjadlsjda", "world", "aaaaaaa", "vessel"], "data2":["none", "name", "aklksda", "zzzzzz","exception", "optional", "bottle", "piooijoj", "mnfjisdh"]}
df = pd.DataFrame(palavras)
df.head(10)

          data      data2
0      Douglas       none
1         test       name
2      oixcjoa    aklksda
3      thought     zzzzzz
4  interesting  exception
5    kjadlsjda   optional
6        world     bottle
7      aaaaaaa   piooijoj
8       vessel   mnfjisdh

In [336]:
df2 = replace_kbs(df, "APAGADO")
df2.head()

          data      data2
0      Douglas       none
1         test       name
2      APAGADO    APAGADO
3      thought    APAGADO
4  interesting  exception

In [262]:
#Testes de como substituir os valores do dataframe

replace = ""
if replace == "":
    replace = "itiskbs"
columns = df.columns.values.tolist()
for i in range(len(columns)):
    for row in df.index:
            if is_kbs(df.iat[row, i], 'word', 'randomForest'):
                df.iat[row, i] = replace
for i in range(len(columns)):
    df = df[df.iloc[:, i] != 'itiskbs']    
df.reset_index(drop=True, inplace=True)